import(graphics)
import(stats)
import(ggplot2)
import(changepoint)
import(changepoint.np)
importFrom("methods","new")
importFrom(Rdpack,reprompt)

export('geomcp','distance.mapping','angle.mapping')

exportMethods(
    "ang.cpts",
    "ang.cpts<-",
    "angle",
    "angle<-",
    "data.set",
    "data.set<-",
    "dist.cpts",
    "dist.cpts<-",
    "distance",
    "distance<-",
    "msl",
    "msl<-",
    "nquantiles",
    "nquantiles<-",
    "pen.value",
    "pen.value<-",
    "penalty",
    "penalty<-",
    "plot",
    "show",
    "summary",
    "test.stat",
    "test.stat<-" 
)
exportClasses(
    "cpt.geo" 
)
