import(methods)
import(graphics)
import(zoo)
import(stats)
import(changepoint)
import(changepoint.np)

export('cpt.euclid')

exportMethods(
    "ang.cpts",
    "ang.cpts<-",
    "ang.ts",
    "ang.ts<-",
    "data.set",
    "data.set<-",
    "dist.cpts",
    "dist.cpts<-",
    "dist.measure",
    "dist.measure<-",
    "dist.ts",
    "dist.ts<-",
    "mapped.data",
    "mapped.data<-",
    "msl",
    "msl<-",
    "nquantiles",
    "nquantiles<-",
    "pen.value",
    "pen.value<-",
    "penalty",
    "penalty<-",
    "plot",
    "show",
    "summary",
    "test.stat",
    "test.stat<-" 
)
exportClasses(
    "cpt.geo" 
)
